*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tanha;
}
body, .container .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    background-color: #0D47A1;
}
.container{
    width: 450px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
}
.container h1{
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}
.container .content{
    width: 100%;
    justify-content: space-between;
}
.content .controls{
    border: 1px solid;
    width: calc(100% / 2 - 5px);
    border-radius: 5px;
    padding: 5px 10px;
}
.content .controls select{
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
}
.container button{
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color:#B71C1C ;
    color: #fff;
    padding: 15px 0;
    margin-top: 20px;
    font-size: 20px;
}
img{
    margin-left: 130px;
}
.container .content .disable{
    opacity:0.5;
    pointer-events: none;
}
